:root {
  --bg-1: #222222e5;
  --bg-button: #4b4b4b63;
  --bg-button-hover: #6464646b;
  --color-text: white;
  --color-accent: #4c9424;
  --color-accent-2: #406d24;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url('https://source.unsplash.com/weekly?fantasy,green,forest') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-moz-selection {
  color: var(--color-text);
  background: var(--color-accent);
}

::selection {
  color: var(--color-text);
  background: var(--color-accent);
}

.calculator-container {
  background-color: var(--bg-1);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 1em;

  display: grid;
  align-items: center;
}

.display {
  text-align: right;
  border: 1.5px solid var(--color-accent);
  border-radius: 0.25em;
  padding: 0.3em 0.25em;
  margin-bottom: 0.5em;
  font-size: 1.8em;
}

.calculator-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'reset reset . .'
    '. . . .'
    '. . . .'
    '. . . .';
}

.number {
  min-height: 1.25em;
  overflow: auto;
}

.reset {
  grid-area: reset;
}

.calculator-grid > button {
  font-size: 1.4em;
  cursor: pointer;
  background-color: var(--bg-button);
  border: 1.7px solid var(--bg-button-hover);
  border-radius: 0.125em;
  padding: 0.4em 0.64em;
  color: var(--color-text);
}

.calculator-grid > button:hover {
  background-color: var(--bg-button-hover);
}

button.background-accent {
  color: var(--bg-1);
  background-color: var(--color-accent-2);
}

button.background-accent:hover {
  background-color: var(--color-accent);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-button);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent-2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
